:root {
  --color1: #350271;
  --color2: #440391;
  --color3: #4b03a1; /* base , 1 => darker, 5 => lighter */
  --color4: #6f35b4;
  --color5: #814fbd;
  --color-bg: #0c0b0c;
}

body {
  /* border: 1px solid green; */
  background-color: var(--color-bg);
  width: 320px;
  padding: 16px;
  font-family: Arial, sans-serif;
  color: #e7e7e7;
}

#header {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: #4caf50; */
  color: var(--color5);
  padding: 10px;
}

#logo {
  width: 64px;
  height: 64px;
  margin-right: 10px;
}

#status {
  margin: 10px 0;
  font-size: 1.25rem;
}

button {
  padding: 10px 20px;
  background: var(--color3);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-weight: 600;
  font-size: 1.25rem;
}

button:hover {
  background: var(--color1);
}

button:active {
  background: var(--color2);
}

.center {
  text-align: center;
}

.alert {
  color: lightsalmon;
}
